section {
  width: 100%;
  height: 100%;
}

div {
  margin: 1rem auto;
  width: 600px;
  height: 450px;
  border-radius: 24px;
  box-shadow: 0px 6px 18px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

img {
  object-fit: cover;
  object-position: center;
}